#commandeBox {
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 10px 0px;
    padding: 5px
}

.commande {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

#description {
    text-align: center;
}

#contenu hr, #contenu ul{
    margin: 0px
}

div.card-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.commande button {
    width: 350px;
    height: 60px;
}