#commandeBox {
    display: flex;
    justify-content: space-between;
}

.commande {
    display: flex;
    flex-direction: column;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}